<mat-sidenav-container>
    <mat-sidenav mode="side" opened>
        <mat-toolbar>
            <h1>Colors</h1>
        </mat-toolbar>
        <mat-list>
        </mat-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar>
            <span class="spacer"></span>
            <button mat-button mat-icon-button>
        <mat-icon>info</mat-icon>
      </button>
            <button mat-button mat-icon-button>
        <mat-icon>save</mat-icon>
      </button>
        </mat-toolbar>
        <div id="map"></div>
    </mat-sidenav-content>
</mat-sidenav-container>