<div class="column">
<div class="row">
    <div class="column">
        <mat-toolbar>
            <h1>Image</h1>
            <span class="spacer"></span>
            <button mat-button mat-icon-button><mat-icon>settings</mat-icon></button>
        </mat-toolbar>
        <div id="lmap">lmap</div>
    </div>
    <div class="column">
      <mat-toolbar>
        <h1>Reference</h1>
        <span class="spacer"></span>
            <button mat-button mat-icon-button><mat-icon>settings</mat-icon></button>
        <mat-form-field class="example-full-width">
            <mat-select multiple>
              <mat-select-trigger>
                <span *ngIf="options?.length > 1" class="example-additional-selection">
                  (+{{options.length - 1}} {{options?.length === 2 ? 'other' : 'others'}})
                </span>
              </mat-select-trigger>
              <mat-option *ngFor="let topping of options" [value]="topping">{{topping}}</mat-option>
            </mat-select>
        </mat-form-field>
      </mat-toolbar>
      <div id="rmap">rmap</div>
    </div>
</div>
<button mat-button mat-fab id="adder" (click)="addGCP()"><mat-icon>add</mat-icon></button>
<button mat-button mat-fab id="saver" (click)="save()" [disabled]="gcps.length<mingcps"><mat-icon>save</mat-icon></button>
<div id="points">
    <div id="points_inner">
    <table width="100%">
        <tr>
            <th></th>
            <th>Color</th>
            <th>Image X</th>
            <th>Image Y</th>
            <th>Map X</th>
            <th>Map Y</th>
        </tr>
        <tr *ngFor="let row of gcps">
            <td><button mat-button mat-icon-button (click)="delete(row)"><mat-icon>delete</mat-icon></button></td>
            <td><div class="square" [style.backgroundColor]="row[0]"></div></td>
            <td>{{row[1]}}</td>
            <td>{{row[2]}}</td>
            <td>{{row[3]}}</td>
            <td>{{row[4]}}</td>
        </tr>
    </table>
    </div>
</div>
</div>